@import "nullstyle.css";
@import "variables.css";
@import "media.css";

body {
	background-color: var(--background-color);
}

.wrapper {
	width: 75vw;
	margin: 0 auto;
	padding: 50px 0;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
	color: whitesmoke;
}

.page-title {
	font-size: 36px;
	font-weight: 900;
	margin-bottom: 30px;
}

hr {
	width: 100%;
	height: 2px;
 	background-color: rgb(160, 160, 160);
}

.meme-widget {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 15px auto;
	transition: all 0.2s ease 0s;
	cursor: pointer;
}

.nameLine {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.meme-name {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	font-weight: 900;
	font-size: 24px;
	cursor: pointer;
}

.state-icon {
	width: 25px;
	height: 25px;
	transform: rotate(45deg);
	transition: all 0.2s ease 0s;
	fill: whitesmoke;
}

.meme-widget:hover {
	color: var(--hover-state-color);
}

.meme-widget:hover .state-icon {
	transform: rotate(0deg);
	fill: var(--hover-state-color);
}

.meme-img {
	width: 30em;
	height: 0px;
	visibility: hidden;
	transition: height 0.4s ease 0s;
	align-self: center;
}

.meme-toggle {
	display: none;
	-webkit-appearance: none;
	appearance: none;
	width: 0;
	height: 0;
}

.meme-widget:hover .meme-img,
.meme-toggle:checked ~ .meme-img {
	visibility: visible;
	width: 20em;
	height: 20em;
	margin: 15px 0;
}

.meme-toggle:checked ~ .meme-name {
	color: var(--hover-state-color);
}

.meme-toggle:checked ~ .meme-name .state-icon {
	transform: rotate(0deg);
	fill: var(--hover-state-color);
}